@import "src/assets/less/variables";
@import "src/assets/less/animations";
@import "src/assets/less/utilities";
@import "src/assets/less/components/buttons/site-buttons";

.comp-sales-list-container {
    h2 {
        position: relative;
        margin-left: 16px;
    }
    .report-filters-wrapper {
        .display-flex();
        background-color: @secondaryBackgroundColor;
        padding: 8px 16px;
    }
    .filter-group {
        .display-flex();
        align-items: center;
        .filter-label {
            padding-right: 8px;
        }
        .filter-input {
            margin: 0 8px;
        }
    };

    .sales-list-wrapper {
        margin-top: 16px;
        .order-id-column {
            width: 5%;
        }
        .date-column {
            width: 10%;
        }
        .items-column {
            width: 35%;
        }
        .subtotal-column,
        .discount-column,
        .total-column,
        .cash-column,
        .change-column {
            width: 8%;
        }
        .actions-column {
            width: 10%;
        }
        .list-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            background-color: @primaryBackgroundColor;
            color: @secondaryTextColor;
            font-weight: bold;
            > * {
                border-right: 1px solid @primaryBorderColor;
                padding: 8px;
            }
        }
        .list-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            &:nth-of-type(odd) {
                background-color: @secondaryBackgroundColor;
            }

            > * {
                border-right: 1px solid @primaryBorderColor;
                border-bottom: 1px solid @primaryBorderColor;
                padding: 8px;
            }
            .items-column {
                > div {
                    padding: 4px;
                    border-bottom: 1px solid @primaryBorderColor;
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
