<div class="comp-sales-list-container">
    <h2>Sales List
        <i class="loader-icon fas fa-spinner fa-spin" [ngClass]="{'show': showLoader}"></i>
    </h2>
    <div class="report-filters-wrapper">
        <div class="filter-group">
            <span class="filter-label"><strong>Date Range:</strong></span>
            <input class="filter-input" type="date" [(ngModel)]="fromDate">
            to
            <input class="filter-input" type="date" [(ngModel)]="toDate">
        </div>
        <div class="filter-buttons">
            <button class="site-btn-success-sm" (click)="getSales()">Generate Report</button>
        </div>
    </div>
    <div class="sales-list-wrapper">
        <div class="list-header">
            <span class="order-id-column">Sales ID</span>
            <span class="date-column">Date</span>
            <span class="items-column">Items</span>
            <span class="subtotal-column">Subtotal</span>
            <span class="discount-column">Discount</span>
            <span class="total-column">Total</span>
            <span class="cash-column">Cash</span>
            <span class="change-column">Change</span>
            <span class="actions-column">Actions</span>
        </div>
        <div class="list-item" *ngFor="let order of groupedOrdersByOrderID | keyvalue">
            <span class="order-id-column">{{order.value?.order_id}}</span>
            <span class="date-column">{{order.value?.date_created}}</span>
            <span class="items-column">
                <ng-container *ngFor="let orderItem of order.value.order_items">
                    <div>{{orderItem.product_name}} ({{orderItem.quantity}} {{orderItem.unit}})</div>
                </ng-container>
            </span>
            <span class="subtotal-column">{{order.value?.subtotal}}</span>
            <span class="discount-column">{{order.value?.discount}}</span>
            <span class="total-column">{{order.value?.total}}</span>
            <span class="cash-column">{{order.value?.cash}}</span>
            <span class="change-column">{{order.value?.change}}</span>
            <span class="actions-column">
                <button class="site-btn-extra-danger-sm" tabindex="0" (click)="voidSaleConfirmation(order.value?.order_id)">Void Sale</button>
            </span>
        </div>
    </div>
</div>
