<div class="product-stock-list-container">
    <h2>Product Stocks
        <i class="loader-icon fas fa-spinner fa-spin" [ngClass]="{'show': showLoader}"></i>
    </h2>
    <div class="filter-wrapper">
        <div class="filter-group">
            <span class="filter-label"><strong>Barcode:</strong></span>
            <input class="filter-input" type="text" [(ngModel)]="barcodeSearchKeyword" (keypress)="barcodeKeypressHandler($event)">
            <i class="loader-icon fas fa-spinner fa-spin" [ngClass]="{'show': showFilterLoader}"></i>
        </div>
        <div class="filter-buttons">
            <button class="site-btn-success-sm" (click)="search()">Search Barcode</button>
        </div>
    </div>
    <ul class="product-stock-tabs-wrapper">
        <li class="tab-item" [ngClass]="{'active': activeTab === 'All'}" (click)="loadAllProductStocks()">All Products</li>
        <li class="tab-item" [ngClass]="{'active': activeTab === 'Low'}" (click)="loadLowStockProducts()">Low Stock Products</li>
        <li class="tab-item" [ngClass]="{'active': activeTab === 'High'}" (click)="loadHighStockProducts()">High Stock Products</li>
    </ul>
    <div class="product-stock-item-list-container">
        <div class="list-header">
            <span class="product-column">Product</span>
            <span class="barcode-column">Barcode</span>
            <span class="unit-column">Unit</span>
            <span class="usp-column">Unit Selling Price</span>
            <span class="ucp-column">Unit Cost Price</span>
            <span class="stock-remaining-column">Stock Remaining</span>
            <span class="need-column">Need to Purchase</span>
            <span class="actions-column">Actions</span>
        </div>
        <div class="list-item" *ngFor="let product of productStocks">
            <span class="product-column">
                <img class="product-image" [src]="setProductImage(product)">
                {{product?.product_name}}
            </span>
            <span class="barcode-column">{{product?.barcode}}</span>
            <span class="unit-column">{{product?.unit}}</span>
            <span class="usp-column">{{product?.unit_price}} / {{product?.unit}}</span>
            <span class="ucp-column">{{product?.unit_cost}} / {{product?.unit}}</span>
            <span class="stock-remaining-column"
                  [ngClass]="{
                  'high' : setStockBadgeClass(product) === 'high',
                  'medium' : setStockBadgeClass(product) === 'medium',
                  'low' : setStockBadgeClass(product) === 'low'}">{{product?.quantity}} {{product?.unit}}</span>
            <span class="need-column">{{calculateNeed(product)}} {{product?.unit}}</span>
            <span class="actions-column">
                <button class="site-btn-success-md" [routerLink]="['/product-stocks/' + product.product_id + '/add-product-stock']">Add Purchased Stock</button>
                <button class="site-btn-warning-sm" [routerLink]="['/product-stocks/' + product.product_id + '/edit-product-stock']">Stock Adjustment Only</button>
                <button class="site-btn-danger-xs" [routerLink]="['/product-stocks/' + product.product_id + '/internal-use']">Internal Use/Consumption</button>
                <button class="site-btn-extra-danger-xs" [routerLink]="['/product-stocks/' + product.product_id + '/expired-breakage']">Expired/Breakage</button>
            </span>
        </div>
        <ng-template #emptyProductStock [ngIf]="productStocks.length === 0">
            <h3 class="empty-message">There are no product stocks under this tab.</h3>
        </ng-template>
    </div>
</div>
