@import "src/assets/less/variables";
@import "src/assets/less/utilities";
@import "src/assets/less/animations";
@import "src/assets/less/components/buttons/site-buttons";

.product-stock-list-container {
    h2 {
        margin-left: 16px;
    }
    .filter-wrapper {
        .display-flex();
        background-color: @secondaryBackgroundColor;
        padding: 8px 16px;
    }
    .filter-group {
        .display-flex();
        align-items: center;
        position: relative;
        .filter-label {
            padding-right: 8px;
        }
        .filter-input {
            margin: 0 8px;
        }
        .loader-icon {
            right: 0;
            font-size: 16px;
            margin-right: 12px;
        }
    };
    .product-stock-tabs-wrapper {
        .display-flex();
        padding: 0;
        border-bottom: 4px solid @tertiaryBorderColor;
        margin: 16px 0;
        .tab-item {
            background-color: @ninthBackgroundColor;
            cursor: pointer;
            padding: 8px 16px;
            &:hover, &.active {
                background-color: @primaryBackgroundColor;
                color: @secondaryTextColor;
            }
        }
    }
    .product-stock-item-list-container {
        .product-column {
            .display-flex();
            width: 25%;
            .product-image {
                width: 125px;
                max-width: 125px;
                max-height: 125px;
                align-self: flex-start;
            }
        }
        .barcode-column {
            width: 8%;
        }
        .unit-column {
            width: 8%;
        }
        .usp-column, .ucp-column {
            width: 8%;
        }
        .stock-remaining-column {
            color: @secondaryTextColor;
            &.high {
                background-color: @forthBackgroundColor;
            }
            &.medium {
                background-color: @fifthBackgroundColor;
            }
            &.low {
                background-color: @sixthBackgroundColor;
            }
        }
        .stock-remaining-column, .need-column {
            width: 8%;
        }
        .actions-column {
            width: 27%;
            button {
                margin: 4px;
                &:first-of-type {
                    margin-top: 0;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .list-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            background-color: @primaryBackgroundColor;
            color: @secondaryTextColor;
            font-weight: bold;
            > * {
                border-right: 1px solid @primaryBorderColor;
                padding: 8px;
            }
        }
        .list-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .animation(fadein, 300ms, ease-in, 0ms);
            &:nth-of-type(odd) {
                background-color: @secondaryBackgroundColor;
            }
            > * {
                border-right: 1px solid @primaryBorderColor;
                border-bottom: 1px solid @primaryBorderColor;
                padding: 8px;
            }
            .quantity-column {
                padding: 8px 0;
            }
        }
    }
    .empty-message {
        display: inline-block;
        padding: 16px;
        margin: auto;
        font-size: 18px;
    }
}
