@import "src/assets/less/variables";

.cart-item-list-container {
    border: 1px solid @primaryBorderColor;
    .image-column {
        width: 10%;
        .product-image {
            width: 100%;
        }
    }
    .product-column {
        width: 50%;
    }
    .quantity-column {
        width: 10%;
    }
    .unit-price-column,
    .total-column {
        width: 15%;
    }
    .quantity-column, .unit-price-column, .total-column {
        text-align: right;
    }
    .list-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: @secondaryBackgroundColor;
        > * {
            border-right: 1px solid @primaryBorderColor;
            padding: 8px;
        }
    }
    .list-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        > * {
            padding: 8px;
        }
        .quantity-column {
            padding: 8px 0;
        }
    }
    .empty-message {
        display: inline-block;
        padding: 8px 16px;
        margin: auto;
        font-size: 18px;
    }
    .site-button-icon {
        background-color: transparent;
        border: none;
        font-size: 16px;
        padding: 0;
        outline: none;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
    .add-quantity {
        .site-button-icon();
        color: @forthTextColor;
        margin-right: 8px;
        cursor: pointer;
    }
    .minus-quantity {
        .site-button-icon();
        color: @sixthTextColor;
        margin-left: 8px;
        cursor: pointer;
    }
    .delete-item {
        .site-button-icon();
        color: @seventhTextColor;
        margin-left: 8px;
        cursor: pointer;
    }
}
