<div class="cart-item-list-container">
    <div class="list-header">
        <label class="image-column">Image</label>
        <label class="product-column">Product</label>
        <label class="quantity-column">Quantity</label>
        <label class="unit-price-column">Unit Price</label>
        <label class="total-column">Total</label>
    </div>
    <ng-container *ngIf="isObjectEmpty(cartItems); else cartItemsTemplate">
        <label class="empty-message">Scan to add products</label>
    </ng-container>
    <ng-template #cartItemsTemplate>
        <ng-container *ngFor="let cartItem of cartItems | keyvalue">
            <div class="list-item">
                <label class="image-column">
                    <img class="product-image" [src]="setProductImage(cartItem.value)">
                </label>
                <label class="product-column">{{cartItem.value?.product_name}} (<em>{{cartItem.value?.unit}}</em>)</label>
                <label class="quantity-column">
                    <button class="add-quantity fa fa-plus-square"
                       (click)="addCartItemQuantity(cartItem.value?.barcode, 1)"></button>
                    <span>{{cartItem.value?.quantity}}</span>
                    <button class="minus-quantity fa fa-minus-square"
                       (click)="minusCartItemQuantity(cartItem.value?.barcode, 1)"></button>
                </label>
                <label class="unit-price-column">{{cartItem.value?.unit_price}}</label>
                <label class="total-column">
                    {{cartItem.value?.total_price}}
                    <button class="delete-item fa fa-trash-alt" (click)="removeCartItem(cartItem.value?.barcode)"></button>
                </label>
            </div>
        </ng-container>
    </ng-template>
</div>

