@import "src/assets/less/variables";
@import "src/assets/less/utilities";
@import "src/assets/less/components/buttons/site-buttons";

.comp-net-profit-reports-container {
    h2 {
        position: relative;
        margin-left: 16px;
    }
    .report-filters-wrapper {
        .display-flex();
        background-color: @secondaryBackgroundColor;
        padding: 8px 16px;
    }
    .filter-group {
        .display-flex();
        align-items: center;
        .filter-label {
            padding-right: 8px;
        }
        .filter-input {
            margin: 0 8px;
        }
    }
    .report-content {
        margin-top: 16px;
        border: 1px solid @primaryBorderColor;
        padding: 16px;
        .list-header {
            .display-flex();
            background-color: @primaryBackgroundColor;
            color: @secondaryTextColor;
            font-weight: bold;
            > * {
                border-right: 1px solid @primaryBorderColor;
                padding: 8px;
            }
        }
        .list-item {
            .display-flex();
            //&:nth-of-type(odd) {
            //    background-color: @secondaryBackgroundColor;
            //}
            > * {
                border-right: 1px solid @primaryBorderColor;
                border-bottom: 1px solid @primaryBorderColor;
                padding: 6px;
            }
            &.subtotal-item {
                font-weight: bold;
                > * {
                    border-bottom-width: 2px;
                }
                .product-column {
                    text-align: center;
                }
            }
            &:last-of-type {
                > * {
                    border-bottom-width: 1px;
                }
            }
            .product-column {
                font-weight: bold;
                color: @primaryTextColor;
            }
        }
        .empty-message {
            display: inline-block;
            padding: 8px 16px;
            margin: auto;
            font-size: 18px;
        }
        .product-column {
            width: 40%;
        }
        .unit-column {
            width: 10%;
        }
        .sales-column, .cost-column {
            width: 10%;
        }
        .profit-column {
            width: 20%;
        }
        .margin-column {
            width: 10%;
        }
        .grand-total-wrapper {
            margin: 32px 24px 0 0;
            text-align: right;
        }
    }
}
