<div class="comp-net-profit-reports-container">
    <h2>Profit and Cost Report
        <i class="loader-icon fas fa-spinner fa-spin" [ngClass]="{'show': showLoader}"></i>
    </h2>
    <div class="report-filters-wrapper">
        <div class="filter-group">
            <span class="filter-label"><strong>Date Range:</strong></span>
            <input class="filter-input" type="date" [(ngModel)]="fromDate">
            to
            <input class="filter-input" type="date" [(ngModel)]="toDate">
        </div>
        <div class="filter-buttons">
            <button class="site-btn-success-sm" (click)="generateReport()">Generate Report</button>
        </div>
    </div>
    <div class="report-content">
        <div class="combined-order-items-wrapper" *ngIf="!isCombinedOrderItemsEmpty()">
            <div class="list-header">
                <span class="product-column">Product</span>
                <span class="unit-column">Units</span>
                <span class="sales-column">Sales</span>
                <span class="cost-column">Cost</span>
                <span class="profit-column">Profit</span>
                <span class="margin-column">Margin</span>
            </div>
            <ng-container *ngFor="let item of combinedOrderItems | keyvalue;">
                <div class="list-item"
                     [ngClass]="{'first-product-sub-item' : i === 0, 'subtotal-item': subItem.product_name === 'Sub Total'}"
                     *ngFor="let subItem of item.value.subItems; let i = index;">
                    <span class="product-column">{{subItem?.product_name}}</span>
                    <span class="unit-column">{{subItem?.unit}}</span>
                    <span class="sales-column">₱ {{subItem?.sales}}</span>
                    <span class="cost-column">₱ {{subItem?.cost}}</span>
                    <span class="profit-column">₱ {{subItem?.profit}}</span>
                    <span class="margin-column">{{subItem?.margin}}</span>
                </div>
            </ng-container>
            <div class="grand-total-wrapper">
                <h3>Total Sales: ₱ {{grandTotalSales.toFixed(2)}}</h3>
                <h3>Total Cost: ₱ {{grandTotalCost.toFixed(2)}}</h3>
                <h3>Total Profit: ₱ {{grandTotalProfit.toFixed(2)}}</h3>
            </div>
        </div>
        <ng-template #emptyReport [ngIf]="isCombinedOrderItemsEmpty()">
            <h3>Select a Date Range and Click Generate Report</h3>
        </ng-template>
    </div>
</div>
