@import "src/assets/less/variables";

.site-btn-success-base() {
    width: 100%;
    background-color: @forthBackgroundColor;
    color: @secondaryTextColor;
    border: 3px solid @secondaryBorderColor;
    margin: 8px 0;
    cursor: pointer;
}
.site-btn-warning-base() {
    width: 100%;
    background-color: @fifthBackgroundColor;
    color: @secondaryTextColor;
    border: 3px solid @secondaryBorderColor;
    margin: 8px 0;
    cursor: pointer;
}
.site-btn-danger-base() {
    width: 100%;
    background-color: @sixthBackgroundColor;
    color: @secondaryTextColor;
    border: 3px solid @secondaryBorderColor;
    margin: 8px 0;
    cursor: pointer;
}
.site-btn-extra-danger-base() {
    width: 100%;
    background-color: @seventhBackgroundColor;
    color: @secondaryTextColor;
    border: 3px solid @secondaryBorderColor;
    margin: 8px 0;
    cursor: pointer;
}

.site-btn-success {
    &-xlg {
        .site-btn-success-base();
        padding: 16px 8px;
        font-size: 28px;
        font-weight: bold;
    }
    &-lg {
        .site-btn-success-base();
        padding: 16px 8px;
        font-size: 20px;
        font-weight: bold;
    }
    &-md {
        .site-btn-success-base();
        padding: 16px 8px;
        font-size: 16px;
        font-weight: bold;
    }
    &-sm {
        .site-btn-success-base();
        border: 2px solid @secondaryBorderColor;
        padding: 8px 8px;
        font-size: 12px;
        font-weight: bold;
    }
    &-xs {
        .site-btn-success-base();
        border: 2px solid @secondaryBorderColor;
        padding: 4px 4px;
        font-size: 12px;
        font-weight: bold;
    }
}

.site-btn-warning {
    &-xlg {
        .site-btn-warning-base();
        padding: 16px 8px;
        font-size: 28px;
        font-weight: bold;
    }
    &-lg {
        .site-btn-warning-base();
        padding: 16px 8px;
        font-size: 20px;
        font-weight: bold;
    }
    &-md {
        .site-btn-warning-base();
        padding: 16px 8px;
        font-size: 16px;
        font-weight: bold;
    }
    &-sm {
        .site-btn-warning-base();
        border: 2px solid @secondaryBorderColor;
        padding: 8px 8px;
        font-size: 12px;
        font-weight: bold;
    }
    &-xs {
        .site-btn-warning-base();
        border: 2px solid @secondaryBorderColor;
        padding: 4px 4px;
        font-size: 12px;
        font-weight: bold;
    }
}

.site-btn-danger {
    &-xlg {
        .site-btn-danger-base();
        padding: 16px 8px;
        font-size: 28px;
        font-weight: bold;
    }
    &-lg {
        .site-btn-danger-base();
        padding: 16px 8px;
        font-size: 20px;
        font-weight: bold;
    }
    &-md {
        .site-btn-danger-base();
        padding: 16px 8px;
        font-size: 16px;
        font-weight: bold;
    }
    &-sm {
        .site-btn-danger-base();
        border: 2px solid @secondaryBorderColor;
        padding: 8px 8px;
        font-size: 12px;
        font-weight: bold;
    }
    &-xs {
        .site-btn-danger-base();
        border: 2px solid @secondaryBorderColor;
        padding: 4px 4px;
        font-size: 12px;
        font-weight: bold;
    }
}

.site-btn-extra-danger {
    &-xlg {
        .site-btn-extra-danger-base();
        padding: 16px 8px;
        font-size: 28px;
        font-weight: bold;
    }
    &-lg {
        .site-btn-extra-danger-base();
        padding: 16px 8px;
        font-size: 20px;
        font-weight: bold;
    }
    &-md {
        .site-btn-extra-danger-base();
        padding: 16px 8px;
        font-size: 16px;
        font-weight: bold;
    }
    &-sm {
        .site-btn-extra-danger-base();
        border: 2px solid @secondaryBorderColor;
        padding: 8px 8px;
        font-size: 12px;
        font-weight: bold;
    }
    &-xs {
        .site-btn-extra-danger-base();
        border: 2px solid @secondaryBorderColor;
        padding: 4px 4px;
        font-size: 12px;
        font-weight: bold;
    }
}
