<div class="point-of-sale-container">
    <div class="left-area-wrapper">
        <div class="barcode-area-container">
            <div class="barcode-wrapper">
                <i class="barcode-icon fas fa-barcode"></i>
                <label class="barcode-label"><u>B</u>arcode</label>
                <input class="barcode-input" type="text"
                       ngNumbersOnly [customAllowedKeyCodes]="keyDownAllowedShortcutKeys"
                       #barcodeInput
                       [disabled]="showBarcodeLoader"
                       [(ngModel)]="barcode"
                       (keypress)="barcodeInputKeyPressHandler($event)">
                <i class="barcode-loading-icon fas fa-spinner fa-spin" [ngClass]="{'show': showBarcodeLoader}"></i>
            </div>
            <div class="quantity-wrapper">
                <label class="quantity-label"><u>Q</u>uantity</label>
                <input class="quantity-input" type="number"
                       ngNumbersOnly [customAllowedKeyCodes]="keyDownAllowedShortcutKeys"
                       #quantityInput
                       [disabled]="showBarcodeLoader"
                       [(ngModel)]="quantity"
                       (keypress)="quantityInputKeyPressHandler($event)">
            </div>
        </div>
        <div class="product-list-wrapper">
            <app-cart-item-list [cartItems]="cartItems"
                                (addCartItemQuantityEventEmitter)="addQuantityHandler($event)"
                                (minusCartItemQuantityEventEmitter)="minusQuantityHandler($event)"></app-cart-item-list>
        </div>
    </div>
    <div class="right-area-wrapper">
        <app-cart-summary
            [subTotal]="subTotal"
            [total]="total"
            [change]="change"
            [keyDownAllowedShortcutKeys]="keyDownAllowedShortcutKeys"
            (nextCustomerClickEventEmitter)="nextCustomerButtonHandler($event)"></app-cart-summary>
        <div class="secondary-buttons-wrapper">
            <button class="reset-button" (click)="resetOrders()">
                <i class="far fa-trash-alt"></i> Reset Orders
            </button>
        </div>
    </div>
</div>
<div class="modal-container"></div>
