@import "src/assets/less/variables";
@import "src/assets/less/animations";
@import "src/assets/less/utilities";
.point-of-sale-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
    .left-area-wrapper {
        width: 70%;
    }
    .barcode-area-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        background-color: @barcodeAreaBackgroundColor;
        border: @barcodeAreaBorder;
        padding: 8px;
        .animation(fadein, 200ms, ease-in, 0ms);
    }
    .barcode-icon {
        color: #000000;
        font-size: 36px;
    }
    .barcode-loading-icon {
        color: @tertiaryTextColor;
        font-size: 24px;
        margin-left: 8px;
        opacity: 0;
        &.show {
            opacity: 1;
        }
    }
    .barcode-label,
    .quantity-label {
        font-size: 20px;
        padding: 0 8px;
    }
    .barcode-input,
    .quantity-input {
        height: 30px;
        flex-grow: 1;
    }
    .barcode-wrapper,
    .quantity-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .barcode-wrapper {
        width: 65%;
        min-width: 400px;
    }
    .quantity-wrapper {
        width: 35%;
        min-width: 200px;
    }
    .product-list-wrapper {
        margin-top: 16px;
        .animation(fadein, 600ms, ease-in, 0ms);
    }

    .right-area-wrapper {
        width: 30%;
        margin-left: 16px;
        .animation(fadein, 600ms, ease-in, 0ms);
    }
    .secondary-buttons-wrapper {
        background-color: @tertiaryBackgroundColor;
        margin-top: 16px;
        padding: 16px;
        .reset-button {
            width: 100%;
            padding: 16px 8px;
            border: 3px solid @secondaryBorderColor;
            background-color: @seventhBackgroundColor;
            color: @secondaryTextColor;
            font-size: 20px;
            font-weight: bold;
        }
    }
}
