@import "src/assets/less/variables";
@import "src/assets/less/utilities";
@import "src/assets/less/animations";
@import "src/assets/less/components/buttons/site-buttons";

.page-title {
    color: @eightTextColor;
    text-align: center;
    margin: 40px 0 32px;
}
.product-item-form-container {
    width: 1200px;
    margin: auto;
    color: @primaryTextColor;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
}
.left-panel {
    display: inline-block;
    min-width: 300px;
    width: 300px;
    box-shadow: @secondaryBoxShadow;
    border-radius: 3px;
    padding: 0;
    margin: 0 16px 0 0;
    color: @eightTextColor;
    .list-item {
        padding: 16px;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
        transition: all 200ms;
        border-top: 1px solid @secondaryBorderColor;
        background-color: @ninthBackgroundColor;
        &.active, &:hover {
            background-color: @primaryBackgroundColor;
            color: @secondaryTextColor;
        }
        &:first-of-type {
            border-top: 0;
            border-radius: 3px 3px 0 0;
        }
        &:last-of-type {
            border-radius: 0 0 3px 3px;
        }
    }
    .quick-link {
        padding: 8px;
        .title {
            margin: 24px 0 0;
        }
        button {
            margin: 8px 0 0;
        }
    }
}
.right-panel {
    flex-grow: 1;
    background-color: @ninthBackgroundColor;
    box-shadow: @secondaryBoxShadow;
    border-radius: 3px;
    .animation(fadein, 300ms, ease-in, 0ms);
    .panel-title-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        background-color: @primaryBackgroundColor;
        border-radius: 3px 3px 0 0;
    }
    .panel-title {
        display: inline-block;
        margin: 0;
        color: @secondaryTextColor;
    }
    .action-button {
        display: inline-block;
        margin: 0;
        width: 100px;
        cursor: pointer;
    }
    .form-wrapper {
        padding: 16px;
    }
    .form-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 8px;
        .form-group-label {
            color: #000;
            min-width: 150px;
            width: 150px;
        }
        .form-group-input {
            flex-grow: 1;
            border: 1px solid @tertiaryBorderColor;
            border-radius: 4px;
            padding: 8px;
            color: @primaryTextColor;
            outline: 0;
            &:focus {
                border-color: @forthBorderColor;
            }
            &.is-invalid {
                border-color: @sixthBorderColor;
            }
        }
        .invalid-feedback {
            color: @sixthTextColor;
            width: 100%;
            margin-left: 150px;
            margin-top: 4px;
        }
        .form-group-description {
            width: 100%;
            margin-left: 150px;
            margin-top: 4px;
            color: @eightTextColor;
        }
    }
}
