@import "src/assets/less/variables";
@import "src/assets/less/animations";
@import "src/assets/less/utilities";
@import "src/assets/less/components/buttons/site-buttons";

.product-list-container {
    position: relative;
    h2 {
        position: relative;
        margin-left: 16px;
    }
    .add-new-product-button {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 0;
        margin-right: 16px;
        width: 200px;
    }
    .filter-wrapper {
        .display-flex();
        background-color: @secondaryBackgroundColor;
        padding: 8px 16px;
    }
    .filter-group {
        .display-flex();
        align-items: center;
        position: relative;
        .filter-label {
            padding-right: 8px;
        }
        .filter-input {
            margin: 0 8px;
        }
        .loader-icon {
            right: 0;
            font-size: 16px;
            margin-right: 12px;
        }
    };
    .product-item-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 16px;
    }
    .product-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 30%;
        transition: all 200ms;
        margin: 0 8px 8px;
        .animation(fadein, 300ms, ease-in, 0ms);
        * {
            cursor: pointer;
        }
        &:hover {
            box-shadow: @primaryBoxShadow;
        }
    }
    .product-image-wrapper {
        //position: relative;
        background-color: @primaryBackgroundColor;
        min-width: 150px;
        width: 150px;
        padding: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
    }
    .product-image {
        //position: absolute;
        //top: 50%;
        //left: 0;
        //transform: translate(0, -50%);
        width: 100%;
        height: 134px;
        object-fit: cover;
    }
    .product-details-wrapper {
        flex-grow: 1;
        padding: 16px;
        border: 1px solid @primaryBorderColor;
        border-left-width: 0;
        .product-title {
            margin: 0;
            font-weight: normal;
        }
        .unit {
            font-size: 14px;
            color: @eightTextColor;
        }
        .price-label, .stock-label {
            padding-top: 8px;
            border-top: 1px solid @primaryBorderColor;
        }
        .cost-label, .price-label, .stock-label {
            display: block;
            margin-top: 8px;
            font-size: 14px;
            font-weight: normal;
            text-transform: uppercase;
        }
        .cost-value, .price-value {
            font-size: 14px;
            color: @eightTextColor;
        }
        .price-value {
            font-size: 16px;
        }
        .stock-value {
            display: inline-block;
            font-size: 14px;
            margin-top: 4px;
            padding: 4px 8px;
            border-radius: 25px;
            color: @secondaryTextColor;
            &.high {
                 background-color: @forthBackgroundColor;
             }
            &.medium {
                background-color: @fifthBackgroundColor;
            }
            &.low {
                background-color: @sixthBackgroundColor;
            }
        }
    }
}
