<h1 class="page-title">
    {{formMode === 'create' ? "Add New Product" : "Update Product"}}
</h1>
<div class="product-item-form-container">
    <ul class="left-panel">
        <li class="list-item" [ngClass]="{'active' : activePanel === 'basic'}" (click)="activePanel = 'basic'; panelTitle = 'Basic Information'">Basic Information</li>
        <li class="list-item" [ngClass]="{'active' : activePanel === 'image'}" (click)="activePanel = 'image'; panelTitle = 'Image'">Image</li>
        <li class="quick-link" *ngIf="formMode === 'update'">
            <h3 class="title">Quick Actions</h3>
            <button class="site-btn-success-sm"
                    [routerLink]="['/product-stocks/' + IDFromRoute + '/add-product-stock']"
                    [queryParams]="{redirect: ('/product/' + 10 + '/edit')}">Add Purchased Stock</button>
            <button class="site-btn-warning-sm"
                    [routerLink]="['/product-stocks/' + IDFromRoute + '/edit-product-stock']"
                    [queryParams]="{redirect: ('/product/' + 10 + '/edit')}">Stock Adjustment Only</button>
            <button class="site-btn-danger-xs"
                    [routerLink]="['/product-stocks/' + IDFromRoute + '/internal-use']"
                    [queryParams]="{redirect: ('/product/' + 10 + '/edit')}">Internal Use/Consumption</button>
            <button class="site-btn-extra-danger-xs"
                    [routerLink]="['/product-stocks/' + IDFromRoute + '/expired-breakage']"
                    [queryParams]="{redirect: ('/product/' + 10 + '/edit')}">Expired/Breakage</button>
        </li>
    </ul>
    <div class="right-panel">
        <div class="panel-title-wrapper">
            <h2 class="panel-title">{{panelTitle}}</h2>
            <button class="site-btn-success-sm action-button" (click)="formAction()">Save</button>
        </div>
        <div class="form-wrapper">
            <ng-container *ngIf="activePanel === 'basic'; else imageTemplate;">
                <form [formGroup]="itemForm">
                    <div class="form-group">
                        <label class="form-group-label" for="barcode">Barcode</label>
                        <input class="form-group-input" type="text" formControlName="barcode" id="barcode" aria-describedby="barcode_help"
                               [ngClass]="{'is-invalid': !isFormValid && fC.barcode.errors}">
                        <div class="invalid-feedback" *ngIf="!isFormValid && fC.barcode.errors">
                            <div *ngIf="fC.barcode.errors.required">Please scan the Barcode</div>
                        </div>
                        <small id="barcode_help" class="form-group-description"><strong>Barcode</strong> is used for scanning</small>
                    </div>
                    <div class="form-group">
                        <label class="form-group-label" for="product_name">Product Name</label>
                        <input class="form-group-input" type="text" formControlName="product_name" id="product_name" aria-describedby="product_name_help"
                               [ngClass]="{'is-invalid': !isFormValid && fC.product_name.errors}">
                        <div class="invalid-feedback" *ngIf="!isFormValid && fC.product_name.errors">
                            <div *ngIf="fC.product_name.errors.required">Product Name is required</div>
                        </div>
                        <small id="product_name_help" class="form-group-description">Please input the <strong>Product Name</strong></small>
                    </div>
                    <div class="form-group">
                        <label class="form-group-label" for="unit">Unit of Quantity</label>
                        <input class="form-group-input" type="text" formControlName="unit" id="unit" aria-describedby="unit_help"
                               [ngClass]="{'is-invalid': !isFormValid && fC.unit.errors}">
                        <div class="invalid-feedback" *ngIf="!isFormValid && fC.unit.errors">
                            <div *ngIf="fC.unit.errors.required">Unit of Quantity is required</div>
                        </div>
                        <small id="unit_help" class="form-group-description">Please input the <strong>Unit of Quantity</strong></small>
                    </div>
                    <div class="form-group">
                        <label class="form-group-label" for="unit_price">Unit Selling Price</label>
                        <input class="form-group-input" type="text" formControlName="unit_price" id="unit_price" aria-describedby="unit_price_help"
                               [ngClass]="{'is-invalid': !isFormValid && fC.unit_price.errors}">
                        <div class="invalid-feedback" *ngIf="!isFormValid && fC.unit_price.errors">
                            <div *ngIf="fC.unit_price.errors.required">Unit Selling Price is required</div>
                        </div>
                        <small id="unit_price_help" class="form-group-description">How much are you going to <strong>sell</strong> this product?</small>
                    </div>
                    <div class="form-group">
                        <label class="form-group-label" for="unit_cost">Unit Cost Price</label>
                        <input class="form-group-input" type="text" formControlName="unit_cost" id="unit_cost" aria-describedby="unit_cost_help"
                               [ngClass]="{'is-invalid': !isFormValid && fC.unit_cost.errors}">
                        <div class="invalid-feedback" *ngIf="!isFormValid && fC.unit_cost.errors">
                            <div *ngIf="fC.unit_cost.errors.required">Unit Cost Price is required</div>
                        </div>
                        <small id="unit_cost_help" class="form-group-description">How much did you <strong>bought</strong> this product</small>
                    </div>
                    <div class="form-group">
                        <label class="form-group-label" for="low_stock_count">Low Stock Count</label>
                        <input class="form-group-input" type="text" formControlName="low_stock_count" id="low_stock_count" aria-describedby="low_stock_count_help"
                               [ngClass]="{'is-invalid': !isFormValid && fC.low_stock_count.errors}">
                        <div class="invalid-feedback" *ngIf="!isFormValid && fC.low_stock_count.errors">
                            <div *ngIf="fC.low_stock_count.errors.required">Low Stock Count is required</div>
                        </div>
                        <small id="low_stock_count_help" class="form-group-description">This is used a threshold to determine if the product is <strong>low</strong> in stock</small>
                    </div>
                    <div class="form-group">
                        <label class="form-group-label" for="high_stock_count">High Stock Count</label>
                        <input class="form-group-input" type="text" formControlName="high_stock_count" id="high_stock_count" aria-describedby="high_stock_count_help"
                               [ngClass]="{'is-invalid': !isFormValid && fC.high_stock_count.errors}">
                        <div class="invalid-feedback" *ngIf="!isFormValid && fC.high_stock_count.errors">
                            <div *ngIf="fC.high_stock_count.errors.required">High Stock Count is required</div>
                        </div>
                        <small id="high_stock_count_help" class="form-group-description">This is used a threshold to determine if the product is <strong>high</strong> in stock</small>
                    </div>
                </form>
            </ng-container>
            <ng-template #imageTemplate>
                <app-file-drag-and-drop
                    [emptyMessage]="'Drag and Drop <strong>Product\'s Image</strong> Here'" [initialFiles]="productImage"
                    [folder]="'product-images'" [maxItem]="1" [(ngModel)]="productImage"></app-file-drag-and-drop>
            </ng-template>
        </div>
    </div>
</div>
