<div class="product-list-container">
    <h2>Products
        <i class="loader-icon fas fa-spinner fa-spin" [ngClass]="{'show': showLoader}"></i>
    </h2>
    <button class="site-btn-success-sm add-new-product-button" [routerLink]="['/product/new']">Add New Product</button>
    <div class="filter-wrapper">
        <div class="filter-group">
            <span class="filter-label"><strong>Product Name:</strong></span>
            <input class="filter-input" type="text" [(ngModel)]="productNameSearchKeyword" (keypress)="productNameKeypressHandler($event)">
            <i class="loader-icon fas fa-spinner fa-spin" [ngClass]="{'show': showFilterLoader}"></i>
        </div>
        <div class="filter-buttons">
            <button class="site-btn-success-sm" (click)="search()">Search Product Name</button>
        </div>
    </div>
    <ul class="product-item-list">
        <li class="product-item" *ngFor="let product of productList" [routerLink]="['/product/' + product.product_id + '/edit']">
            <div class="product-image-wrapper">
                <img class="product-image" [src]="setProductImage(product)">
            </div>
            <div class="product-details-wrapper">
                <h3 class="product-title">{{product.product_name}}</h3>
                <label class="unit">{{product.unit || "Unit Not Specified"}}</label>
                <label class="price-label">Unit Selling Price</label>
                <label class="price-value">₱ {{product.unit_price}}</label>
                <label class="cost-label">Unit Cost Price</label>
                <label class="cost-value">₱ {{product.unit_cost}}</label>
                <label class="stock-label">Stock Remaining</label>
                <label class="stock-value"
                       [ngClass]="{
                       'high' : setStockBadgeClass(product) === 'high',
                       'medium' : setStockBadgeClass(product) === 'medium',
                       'low' : setStockBadgeClass(product) === 'low'}">{{product.quantity}}</label>
            </div>
        </li>
    </ul>
</div>
