.animation(@animationName, @animationDuration, @animationTimingFunction, @animationDelay) {
    -webkit-animation: @animationName @animationDuration @animationTimingFunction @animationDelay; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: @animationName @animationDuration @animationTimingFunction @animationDelay; /* Firefox < 16 */
    -ms-animation: @animationName @animationDuration @animationTimingFunction @animationDelay; /* Internet Explorer */
    -o-animation: @animationName @animationDuration @animationTimingFunction @animationDelay; /* Opera < 12.1 */
    animation: @animationName @animationDuration @animationTimingFunction @animationDelay;
}

.display-flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
