@primaryBackgroundColor: #58B1FC;
@secondaryBackgroundColor: #EEEEEE;
@tertiaryBackgroundColor: #425262;
@forthBackgroundColor: #23BC73;
@fifthBackgroundColor: #D77A0D;
@sixthBackgroundColor: #FF5252;
@seventhBackgroundColor: #B90909;
@eightBackgroundColor: #F5F5F5;
@ninthBackgroundColor: #FFFFFF;

/* TEXTS */
@primaryTextColor: #333333;
@secondaryTextColor: #FFFFFF;
@tertiaryTextColor: #58B1FC;
@forthTextColor: #23BC73;
@fifthTextColor: #D77A0D;
@sixthTextColor: #FF5252;
@seventhTextColor: #B90909;
@eightTextColor: #888888;

/* LINKS */
@primaryLinkColor: #FFFFFF;

/* ICONS */
@primaryIconColor: #FFFFFF;

/* BORDER */
@primaryBorderColor: #DDDDDD;
@secondaryBorderColor: #FFFFFF;
@tertiaryBorderColor: #58B1FC;
@forthBorderColor: #23BC73;
@fifthBorderColor: #D77A0D;
@sixthBorderColor: #FF5252;

/* BOX SHADOW */
@primaryBoxShadow: 0 2px 16px 1px #CCCCCC;
@secondaryBoxShadow: 0 1px 10px 1px #EEEEEE;

/* HEADER */
@systemNameFontSize: 18px;
@systemNameTextColor: #FFFFFF;

/* BARCODE AREA */
@barcodeAreaBackgroundColor: #FEF7E3;
@barcodeAreaBorder: 2px solid #EFD384;

/* MEDIA QUERIES */
@desktopAndBelow: ~"(max-width: 1366px)";
@desktopOnly: ~"(min-width: 992px) and (max-width: 1366px)";
@desktopAndLarger: ~"(min-width: 992px)";
@tabletAndBelow: ~"(max-width: 991px)";
@tabletOnly: ~"(min-width: 768px) and (max-width: 991px)";
@tabletAndLarger: ~"(min-width: 768px)";
@mobileAndBelow: ~"(max-width: 767px)";
@smallMobileAndBelow: ~"(max-width: 360px)";
