<div class="cart-summary-container">
    <section class="customer-info-wrapper">
        <label class="customer-name-label" id="customer_name_label" *ngIf="false">Customer Name</label>
        <h2 class="customer-name" aria-labelledby="customer_name_label">Summary</h2>
    </section>
    <section class="order-detail-wrapper" *ngIf="false">
        <hr class="divider">
        <label class="order-no-label">Order #</label>
        <label class="order-no-value">Customer Name</label>
    </section>
    <section class="summary-form-wrapper">
        <hr class="divider">
        <div class="form-group">
            <label class="form-label subtotal-label">Subtotal:</label>
            <label class="subtotal-value">{{subTotal}}</label>
        </div>
        <div class="form-group">
            <label class="form-label discount-label"><u>D</u>iscount:</label>
            <input class="form-input discount-input" type="text"
                   ngNumbersOnly [customAllowedKeyCodes]="keyDownAllowedShortcutKeys"
                   #discountInput
                   [(ngModel)]="discountModel" (ngModelChange)="broadcastDiscountChange($event)"
                   (click)="setCaretPositionToEnd($event)"
                   (focus)="setCaretPositionToEnd($event)">
        </div>
    </section>
    <section class="total-wrapper">
        <label class="total-label">Total: </label>
        <label class="total-value">{{total}}</label>
    </section>
    <section class="summary-form-wrapper">
        <div class="form-group">
            <label class="form-label cash-label"><u>C</u>ash:</label>
            <input class="form-input cash-input" type="text"
                   ngNumbersOnly [customAllowedKeyCodes]="keyDownAllowedShortcutKeys"
                   #cashInput
                   [(ngModel)]="cashModel" (ngModelChange)="broadcastCashChange($event)"
                   (click)="setCaretPositionToEnd($event)"
                   (focus)="setCaretPositionToEnd($event)">
        </div>
    </section>
    <section class="change-wrapper">
        <label class="change-label">Change: </label>
        <label class="change-value">{{change}}</label>
    </section>
    <section class="next-customer-wrapper">
        <button class="next-customer-button"
                #nextCustomerButton
                (click)="broadcastNextButtonClick($event)">
            <i class="fa fa-user-tag"></i>&nbsp;<u>N</u>ext Customer
        </button>
    </section>
</div>
