@import "src/assets/less/variables";

.cart-summary-container {
    background-color: @tertiaryBackgroundColor;
    .customer-info-wrapper {
        padding: 16px 16px 0;
        color: @secondaryTextColor;
        .customer-name-label {
            font-size: 12px;
        }
        .customer-name {
            margin: 8px 0 0;
            font-size: 24px;
        }
    }

    .order-detail-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding: 16px 16px 0;
        color: @secondaryTextColor;
        .divider {
            width: 100%;
            border-style: solid;
            height: 4px;
            margin: 0 0 16px;
        }
        .order-no-label {
            flex-grow: 1;
        }
        .order-no-value {
            flex-grow: 1;
            text-align: right;
        }
    }

    .summary-form-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding: 16px 16px 0;
        color: @secondaryTextColor;
        .divider {
            width: 100%;
            border-style: solid;
            height: 2px;
            margin: 0 0 16px;
        }
        .form-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            align-items: center;
            margin-top: 16px;
            &:first-of-type {
                margin-top: 0;
            }
        }
        .form-label {
            font-size: 18px;
            font-weight: bold;
            margin-right: 8px;
            width: 25%;
        }
        .form-input {
            font-size: 24px;
            text-align: right;
            flex-grow: 1;
            padding: 4px;
            background-color: @tertiaryBackgroundColor;
            transition: background-color 200ms;
            &:focus {
                outline: none;
                background-color: @secondaryBackgroundColor;
            }
        }
        .subtotal-label {
            color: @forthTextColor;
        }
        .discount-label {
            color: @sixthTextColor;
        }
        .cash-label {
            color: @tertiaryTextColor;
            font-size: 24px;
        }
        .subtotal-value {
            font-size: 24px;
            font-weight: bold;
            flex-grow: 1;
            //border: 4px groove #23BC73;
            color: @forthTextColor;
            text-align: right;
        }
        .discount-input {
            border: 4px groove @sixthBorderColor;
            color: @sixthTextColor;
        }
        .cash-input {
            border: 4px groove @tertiaryBorderColor;
            color: @tertiaryTextColor;
            font-size: 24px;
        }
    }
    .total-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-top: 16px;
        padding: 16px;
        background-color: @forthBackgroundColor;
        color: @secondaryTextColor;
        .total-label, .total-value {
            flex-grow: 1;
            font-size: 32px;
            font-weight: bold;
        }
        .total-value {
            text-align: right;
            &::before {
                content: '\20b1 \0000a0';
            }
        }
    }
    .change-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-top: 16px;
        padding: 16px;
        background-color: @fifthBackgroundColor;
        color: @secondaryTextColor;
        .change-label, .change-value {
            flex-grow: 1;
            font-size: 28px;
            font-weight: bold;
        }
        .change-value {
            text-align: right;
            &::before {
                content: '\20b1 \0000a0';
            }
        }
    }
    .next-customer-wrapper {
        margin-top: 16px;
        padding: 0 16px 16px;
        .next-customer-button {
            width: 100%;
            padding: 16px 8px;
            border: 3px solid @secondaryBorderColor;
            background-color: @forthBackgroundColor;
            color: @secondaryTextColor;
            font-size: 28px;
            font-weight: bold;
        }
    }
}
