/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #F5F5F5;
}
ul {
    margin: 0;
    list-style: none;
}
i {
    color: #FFFFFF;
}
u {
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
a {
    color: #FFFFFF;
}
input[type="text"], input[type="number"] {
    min-width: 100px;
}

.loader-icon {
    position: absolute;
    color: #58B1FC;
    font-size: 28px;
    margin-left: 16px;
    opacity: 0;
}
.loader-icon.show {
    opacity: 1;
}
