@import "src/assets/less/variables";
@import "src/assets/less/components/buttons/site-buttons";

.simple-confirmation-modal-container {
    margin-top: 80px;
    .modal-icon-success {
        color: @forthTextColor;
        margin-right: 8px;
        font-size: 36px;
        vertical-align: middle;
    }
    .modal-icon-warning {
        color: @fifthTextColor;
        margin-right: 8px;
        font-size: 36px;
        vertical-align: middle;
    }
    .modal-icon-extra-danger {
        color: @seventhTextColor;
        margin-right: 8px;
        font-size: 36px;
        vertical-align: middle;
    }
    .modal-footer {
        height: 80px;
    }
    .modal-button-primary {
        width: 60%;
    }
    .modal-button-secondary {
        width: 40%;
    }
}
