@import "src/assets/less/variables";
@import "src/assets/less/components/buttons/site-buttons";

.simple-alert-modal-container {
    margin-top: 80px;
    .modal-icon-success {
        color: @forthTextColor;
        margin-right: 8px;
        font-size: 36px;
        vertical-align: middle;
    }
    .modal-footer {
        height: 80px;
    }
}
