<!--<ng-container *ngIf="uploadType === 'resolutions' || uploadType === 'college_courses_offered'; else imagesTemplate">-->
<!--    <div appFileDragAndDrop-->
<!--         *ngIf="value && value.length === 0"-->
<!--         (filesDropped)="filesDroppedEvent($event)"-->
<!--         style="-->
<!--    display: table;-->
<!--    width: 100%;-->
<!--    border: 2px dashed-->
<!--    #58B1FC;-->
<!--    background: #EBF6FF;-->
<!--    height: 50px;-->
<!--    padding: 1rem;">-->
<!--        <div style="display: table-cell; vertical-align: middle">-->
<!--            <i class="fas fa-file-word fa-lg"></i>-->
<!--            <span>-->
<!--                Drag and Drop Your <strong>PDF</strong> File Here-->
<!--            </span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div *ngFor="let file of value; let i = index;">-->
<!--        <div style="height: auto; padding: 3px; position:relative;">-->
<!--            <i class="fa fa-file-alt fa-lg" style="height: 45px; font-size: 45px; color: #220871;"></i>-->
<!--            <a [href]="file.url" title="View File" style="padding-left: 5px;">{{file.url}}</a>-->
<!--            <button class="btn btn-danger btn-sm"-->
<!--                    (click)="removeImage(i)"-->
<!--                    style="display: block; padding: 1px 4px;"><i class="fa fa-trash"></i> Upload New File</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</ng-container>-->
<ng-template #imagesTemplate [ngIf]="true">
    <div *ngIf="maxItem === undefined || (value && maxItem > value.length)"
         (filesDropped)="filesDroppedEvent($event)"
         appFileDragAndDrop
         style="
    display: table;
    width: 100%;
    border: 2px dashed #58B1FC;
    height: 50px;
    padding: 1rem;">
        <div style="display: table-cell; vertical-align: middle">
            <i class="fas fa-images fa-lg"></i>
            <span [innerHTML]="emptyMessage"></span>
        </div>
    </div>
    <ng-container *ngFor="let file of value; let i = index;">
        <div style="display: inline-block; width: 20%; height: auto; padding: 3px; position:relative;">
            <button class="btn btn-danger btn-sm"
                    (click)="removeImage(i)"
                    style="position:absolute; top: 3px; right: 3px;">X</button>
            <img *ngIf="file" [src]="file.url" style="width: 100%;">
        </div>
    </ng-container>
</ng-template>
