@import "src/assets/less/variables";
@import "src/assets/less/components/buttons/site-buttons";

.order-summary-modal-container {
    .modal-header {
        background-color: @eightBackgroundColor;
        border: none;
        padding: 0 40px;
        height: 75px;
    }
    .modal-title-wrapper {
        margin: 24px 0;
    }
    .modal-icon-success {
        color: @forthTextColor;
        margin-right: 8px;
        font-size: 36px;
        vertical-align: middle;
    }
    .modal-title {
        display: inline-block;
        vertical-align: middle;
        font-weight: normal;
        color: @primaryTextColor;
    }
    .modal-body {
        color: @primaryTextColor;
        .customer-name-label {
            display: block;
            padding: 0 16px;
            margin: 16px 0 0;
        }
        .customer-name-value {
            display: block;
            color: @sixthTextColor;
            margin: 8px 0 0;
            padding: 0 16px;
            font-size: 18px;
        }
        .order-summary-wrapper {
            border-top: 1px solid @primaryBorderColor;
            margin-top: 16px;
            padding: 0 16px;
        }
        .order-summary-title {
            font-size: 22px;
            font-weight: normal;
            color: @primaryTextColor;
            margin: 16px 0 0;
        }
        .summary-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 8px 0 0;
            &:first-of-type {
                margin: 16px 0 0;
            }
            &.with-top-border {
                border-top: 1px solid @primaryBorderColor;
                margin-top: 12px;
                padding: 12px 0 0;
            }
            &.text-green {
                color: @forthTextColor;
            }
            &.text-orange {
                color: @fifthTextColor;
            }
            .summary-value {
                flex-grow: 1;
                text-align: right;
            }
        }
    }
    .modal-footer {
        height: auto;
    }
}
