<header class="site-header" [ngClass]="{'hide': !showHeader}">
    <div class="logo-wrapper" [hidden]="!showHeader">
        <img class="logo-img" src="assets/img/logo.png" alt="JIntuitive Simple POS and Inventory System Logo">
        <h1 class="system-name">JIntuitive Simple POS and Inventory System</h1>
    </div>
    <div class="links-wrapper" [hidden]="!showHeader">
        <ul class="link-list">
            <li class="list-item">
                <a [routerLink]="['/pos']">
                    <i class="link-icon fas fa-cart-plus"></i>
                    <label class="link-text">Point of Sale (POS) Mode</label>
                </a>
            </li>
            <li class="list-item">
                <a [routerLink]="['/products']">
                    <i class="link-icon"></i>
                    <label class="link-text">Products</label>
                </a>
            </li>
            <li class="list-item">
                <a [routerLink]="['/product-stocks']">
                    <i class="link-icon"></i>
                    <label class="link-text">Stocks</label>
                </a>
            </li>
            <li class="list-item">
                <a [routerLink]="['/sales/void']">
                    <i class="link-icon"></i>
                    <label class="link-text">Void Sales</label>
                </a>
            </li>
            <li class="list-item">
                <a [routerLink]="['/reports']">
                    <i class="link-icon"></i>
                    <label class="link-text">Reports</label>
                </a>
            </li>
        </ul>
    </div>
    <button class="site-btn-success-xs site-header-toggle-button" *ngIf="showHeaderToggle" (click)="toggleHeaderVisibility()">Hide Header</button>
</header>
