@import "src/assets/less/variables.less";
@import "src/assets/less/components/buttons/site-buttons.less";

.site-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    background-color: @primaryBackgroundColor;
    padding: 8px;
    height: 66px;
    transition: height 250ms;
    &.hide {
        height: 0;
        padding: 0;
    }
    &:hover {
        .site-header-toggle-button {
            opacity: 1;
        }
    }
    .logo-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 450px;
        min-width: 450px;
        height: 50px;
        align-items: center;
        &[hidden] {
            display: none;
        }
    }
    .logo-img {
        width: 40px;
        height: 35px;
    }
    .system-name {
        font-size: @systemNameFontSize;
        color: @systemNameTextColor;
        margin-left: 8px;
    }
    .links-wrapper {
        width: ~'calc(100% - 450px)';
        min-width: 450px;
        height: 50px;
        &[hidden] {
            display: none;
        }
    }
    .link-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        color: @primaryLinkColor;
    }
    .list-item {
        padding: 0 8px;
        margin-left: 8px;
        &:first-child {
            margin-left: 0;
        }
        a {
            padding: 16px 0;
            &:hover {
                color: royalblue;
            }
        }
    }
    .link-icon {
        cursor: pointer;
    }
    .link-text {
        cursor: pointer;
        margin-left: 8px;
    }
    .site-header-toggle-button {
        position: absolute;
        bottom: -22px;
        right: -1px;
        width: auto;
        margin: 0;
        padding: 2px 8px;
        opacity: 0;
        transition: opacity 250ms;
    }
}
