<h1 class="page-title" [innerHTML]="pageTitle"></h1>
<div class="add-product-stock-container">
    <div class="product-info-wrapper">
        <div class="panel-title-wrapper"
             [ngClass]="{'bg-warning' : formMode === 'EDIT_PRODUCT_STOCK', 'bg-danger' : formMode === 'INTERNAL_USE', 'bg-extra-danger' : formMode === 'EXPIRED_BREAKAGE'}">
            <h2 class="panel-title">Product Information</h2>
        </div>
        <div class="form-wrapper">
            <div class="form-group">
                <label class="form-group-label"><strong>Barcode</strong></label>
                <label class="form-group-input">{{itemData?.barcode}}</label>
            </div>
            <div class="form-group">
                <label class="form-group-label"><strong>Product Name</strong></label>
                <label class="form-group-input">{{itemData?.product_name}}</label>
            </div>
            <div class="form-group">
                <label class="form-group-label"><strong>Unit of Quantity</strong></label>
                <label class="form-group-input">{{itemData?.unit}}</label>
            </div>
            <div class="form-group">
                <label class="form-group-label"><strong>Current Stock</strong></label>
                <label class="form-group-input">{{itemData?.quantity}}</label>
            </div>
            <div class="form-group">
                <label class="form-group-label">Unit Selling Price</label>
                <label class="form-group-input">{{itemData?.unit_price}}</label>
            </div>
            <div class="form-group">
                <label class="form-group-label">Unit Cost Price</label>
                <label class="form-group-input">{{itemData?.unit_cost}}</label>
            </div>
            <div class="form-group">
                <label class="form-group-label">Low Stock Count</label>
                <label class="form-group-input">{{itemData?.low_stock_count}}</label>
            </div>
            <div class="form-group">
                <label class="form-group-label">High Stock Count</label>
                <label class="form-group-input">{{itemData?.high_stock_count}}</label>
            </div>
        </div>
    </div>
    <div class="add-product-stock-form-wrapper">
        <div class="panel-title-wrapper"
             [ngClass]="{'bg-warning' : formMode === 'EDIT_PRODUCT_STOCK', 'bg-danger' : formMode === 'INTERNAL_USE', 'bg-extra-danger' : formMode === 'EXPIRED_BREAKAGE'}">
            <h2 class="panel-title">Product Stock Form</h2>
            <button class="site-btn-success-sm action-button"
                    [ngClass]="{'bg-warning' : formMode === 'EDIT_PRODUCT_STOCK', 'bg-danger' : formMode === 'INTERNAL_USE', 'bg-extra-danger' : formMode === 'EXPIRED_BREAKAGE'}"
                    (click)="formAction()" [innerHTML]="actionButtonText"></button>
        </div>
        <div class="form-wrapper">
            <form [formGroup]="addProductStockForm">
                <div class="form-group">
                    <label class="form-group-label" for="quantity" [innerHTML]="quantityLabel"></label>
                    <input class="form-group-input" type="text" formControlName="quantity" id="quantity" aria-describedby="quantity_help"
                           (keypress)="quantityKeyPressHandler($event)"
                           [ngClass]="{'is-invalid': !isFormValid && fC.quantity.errors}" #quantityInput>
                    <div class="invalid-feedback" *ngIf="!isFormValid && fC.quantity.errors">
                        <div *ngIf="fC.quantity.errors.required" [innerHTML]="quantityError"></div>
                    </div>
                    <small id="quantity_help" class="form-group-description" [innerHTML]="quantityDescription">
                    </small>
                </div>
            </form>
        </div>
    </div>
</div>
