@import "src/assets/less/variables";
@import "src/assets/less/utilities";
@import "src/assets/less/animations";
@import "src/assets/less/components/buttons/site-buttons";

.page-title {
    color: @eightTextColor;
    text-align: center;
    margin: 40px 0 32px;
}
.bg-warning {
    background-color: @fifthBackgroundColor !important;
}
.bg-danger {
    background-color: @sixthBackgroundColor !important;
}
.bg-extra-danger {
    background-color: @seventhBackgroundColor !important;
}

.add-product-stock-container {
    width: 1200px;
    margin: auto;
    color: @primaryTextColor;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    .product-info-wrapper {
        width: 500px;
        min-width: 500px;
        margin-right: 16px;
        background-color: @ninthBackgroundColor;
        box-shadow: @secondaryBoxShadow;
        border-radius: 3px;
        .animation(fadein, 200ms, ease-in, 0ms);
        .panel-title-wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 16px;
            background-color: @primaryBackgroundColor;
            border-radius: 3px 3px 0 0;
        }
        .panel-title {
            display: inline-block;
            margin: 0;
            color: @secondaryTextColor;
            font-size: 16px;
        }
        .form-wrapper {
            padding: 16px;
        }
        .form-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 4px;
            &:first-of-type {
                margin-top: 0;
                .form-group-input {
                    padding-top: 0;
                }
            }
            .form-group-label {
                color: #000;
                min-width: 150px;
                width: 150px;
            }
            .form-group-input {
                flex-grow: 1;
                border: none;
                border-bottom: 1px solid @tertiaryBorderColor;
                padding: 4px;
                color: @primaryTextColor;
                outline: 0;
                &:focus {
                    border-color: @forthBorderColor;
                }
                &.is-invalid {
                    border-color: @sixthBorderColor;
                }
            }
        }
    }

    .add-product-stock-form-wrapper {
        flex-grow: 1;
        background-color: @ninthBackgroundColor;
        box-shadow: @secondaryBoxShadow;
        border-radius: 3px;
        .animation(fadein, 300ms, ease-in, 0ms);
        .panel-title-wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 16px;
            background-color: @primaryBackgroundColor;
            border-radius: 3px 3px 0 0;
        }
        .panel-title {
            display: inline-block;
            margin: 0;
            color: @secondaryTextColor;
        }
        .action-button {
            display: inline-block;
            margin: 0;
            width: 200px;
            cursor: pointer;
        }
        .form-wrapper {
            padding: 16px;
        }
        .form-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 8px;
            .form-group-label {
                color: #000;
                min-width: 350px;
                width: 100%;
            }
            .form-group-input {
                margin-top: 8px;
                flex-grow: 1;
                border: 1px solid @tertiaryBorderColor;
                border-radius: 4px;
                padding: 8px;
                color: @primaryTextColor;
                outline: 0;
                &:focus {
                    border-color: @forthBorderColor;
                }
                &.is-invalid {
                    border-color: @sixthBorderColor;
                }
            }
            .invalid-feedback {
                color: @sixthTextColor;
                width: 100%;
                margin-top: 4px;
            }
            .form-group-description {
                width: 100%;
                margin-top: 4px;
                color: @eightTextColor;
            }
        }
    }
}

